*{
    font-family: Poppins sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.conteiner{
    width: 100vw;
    height: 100vh;
}

.conteiner-01{
    display: inline-block;
    width: 40%;
    margin: 47px 0 0 42px;

}

.conteiner-02{
    display: inline-block;
    width: 60%;
    position: absolute;
    padding-left: 10%;
    margin-top: 20%;
}

img{
   margin: 178px 0 0 121px;

}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    width: 582px;
    height: 164px;
    color: #161A49;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    height: 99px;
    color: #4B505A;
    margin: 47px 0 55px 0;
}

a{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

.button-01{
    background: #6FBF44;
    border: none;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border-width: 1px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    cursor: pointer;
}

.button-03{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: #ffffff;
    cursor: pointer;
}


@media  screen and (max-width: 900px) {
    .conteiner-01{
        display: block;
        width: 100%;
        height: 30vh;
        margin: 0;
        
    } 

    .conteiner-02{
        display: block;
        height: auto;
        margin-top: -130px;
        padding: 0;
        position: static;
        width: auto;
    }

    img{
        position: relative;
        top: 320px;
        height: auto;
        max-width: 90%;
        margin: 0 22px;
        margin-top: 55px;
    }

    h1{
        
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        width: auto;
        height: auto;

    }

    p{
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        width: auto;
        height: auto;
        margin: 29px 43px 26px 43px;
       
    }

    .button-01{
        font-size: 12px;
        width: auto;
        height: auto;
        margin: 12px 0 0 290px;
    }

    .button-03{
        margin: 0 auto;
        display: block;
        font-size: 18px;
    }

    a{
        display: none;
    }



}
